.App {
  font-family: sans-serif;
  text-align: center;
}
.Center {
  text-align: center;
}

.boxShadowA {
  box-shadow: 6px 6px 9px -3px #000000;
}

.boxA {
  width: 75px;
  height: 75px;
  border: 1px;
}
